name: flutter_unified_attachment_picker
description: A unified Flutter package for picking attachments including camera, gallery, documents, and audio recording. Perfect for chat apps, diary apps, and LMS apps.
version: 1.1.0
homepage: https://github.com/lokeshkapase/attachment_picker

environment:
  sdk: ^3.7.2
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
